*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #b5cbf6;
}

nav{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
    align-content: stretch;
    background-color: #F1F6F8;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Malgun Gothic";
  }

li img{
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 60px;
    margin-left: 50px;
    margin-right: 50px;
}
  
li {
    float: left;
  }
  
  li a {
    display: block;
    color: #A5A7A7;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
  }
  #line{
      font-size: 40px;
      color: white;
      margin-right: 20px;
      margin-left: 20px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #b5cbf6;
  }

h1{
    text-align: center;
    margin-top: 20px;
    margin-right: center;
    color: #14394F;
    font-family: Britannic;
    font-style: bold;
    font-size: 80px;
}

h2{
    text-align: center;
    margin-top: 10px;
    color: #14394F;
    font-family: Britannic;
    font-size: 18px;
}

.box{
    width: 450px;
    height: 400px;
    background: #F1F6F8;
    top : 30%;
    left : 50%;
    position: relative;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 50px;
}

.form_login{
    /*membuat lebar form penuh*/
    text-align: center;
    box-sizing : border-box;
    width: 80%;
    height: 10%;
    padding: 20px;
	border-radius: 100px;
    font-size: 11pt;
    margin-top: 5px;
    margin-right: 20%;
    margin-left: 12%;
	margin-bottom: 15px;
	background-color: #FFFFFF;
    font-family:"Comic Sans MS";
    color: #2C3F59;
}

.tombol_login{
    text-align: center;
    box-sizing: border-box;
    width: 70px;
    height: 30px;
    padding: 5px;
	border-radius: 5px;
    font-size: 7pt;
    margin-top: 5px;
    margin-left: 40%;
    margin-bottom: 15px;
    border-color: #2C3F59;
	background-color: #14394F;
    font-family:"Comic Sans MS";
    color: #F1F6F8;
}

.tombol_facebook{
    text-align: center;
    box-sizing: border-box;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    font-size: 7 pt;
    padding: 5px;
    /* padding-left: 10%;  */
    margin-left: 70px;
    border-color: #F1F6F8;
	background-color: #F1F6F8;
    font-family:"Comic Sans MS";
    color: #2C3F59;
    background-image: url(facebook.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 1px;
    background-size: 20px;

}

.tombol_google{
    text-align: center;
    box-sizing: border-box;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    font-size: 7 pt;
    padding: 5px;
    padding-left: 7%; 
    margin-right: 10px;
    border-color: #F1F6F8;
	background-color: #F1F6F8;
    font-family:"Comic Sans MS";
    color: #2C3F59;
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-position: left;
    /* padding-left: 1px; */
    background-size: 20px;
    transition: 0.5s;
}
.tombol_google:hover{
    background-color: #2C3F59;
    color: white;
    transition: 0.5s;
}
.tombol_facebook:hover{
    background-color: #2C3F59;
    color: white;
    transition: 0.5s;
}

.account{
    text-align: center;
    font-size: 8pt;
    font-family: "Comic Sans MS";
    color : #2c3f59;
}


.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown {
    background-color: #F1F6F8;
    position: absolute;
    display: none;
    box-shadow: 0px 8p   x 16px 0px rgba(0,0,0,0.2);
    z-index: 999999;
    opacity: 5;
}

.isi-dropdown a:hover {
    color: #F1F6F8;
    background: #A5A7A7;
    width: 50%;
}
